# Gemfiles
Gemfile
Gemfile.lock

# History files
.Rhistory
*.Rdata

# Example code in package build process
*-Ex.R
.Rproj.user

_site

# Tex files
*.log
*.nav
*.out
*.snm
*.toc
*.aux
*.vrb
*.tex

*.doc*

*.pdf
*.tex
*.RData
*.RData
*.RData
*.tex

*.html
!_includes/*.html
!_layouts/*.html
